*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Klaus ;
    src: url(../fonts/MNKYKlausTRIAL-Regular.otf);
}

@font-face{
    font-family: Klausthin ;
    src: url(../fonts/MNKYKlausTRIAL-Thin.otf);
}

.desktop{
    font-family: Klaus ;
    font-size: 7em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: -0.08em;
    line-height: 70pt;
}

h1{
    font-family: Klaus ;
    font-size: 3em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: -0.08em;
    line-height: 30pt;
}

h4{
    font-family: Klausthin ;
    font-size: 1em;
    font-weight: 100;
    color:  #FF9AE9;
    margin-top: 0px;
    margin-left: 60px;
    line-height: 35pt;
}

.desktop{
    font-family: Klaus ;
    font-size: 3em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: -0.08em;
    line-height: 30pt;
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #2900F5;
}

html {
    height: 100%;
}

p{
  
    padding: 20px;
    top: 200px;
    left: 50px;
}


.textblock1 { top: 18vh; left: 15%; }
.textblock2 { top: 22vh; left: 55%; }
.textblock3 { top: 35vh; left: 70%; }
.textblock4 { top: 40vh; left: 30%; }
.textblock5 { top: 15vh; left: 35%; }
.textblock6 { top: 55vh; left: 15%; }
.textblock7 { top: 60vh; left: 35%; }
.textblock8 { top: 45vh; left: 50%; }
.textblock9 { top: 75vh; left: 15%; }
.textblock10 { top: 10vh; left: 70%; }
.textblock11 { top: 65vh; left: 70%; }

.textblock1,
.textblock2,
.textblock3,
.textblock4,
.textblock5,
.textblock6,
.textblock7,
.textblock8,
.textblock9,
.textblock10,
.textblock11 {
    position: absolute;
    opacity: 0;
    transform: scale(0.85);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock1.show,
.textblock3.show,
.textblock5.show,
.textblock7.show,
.textblock9.show,
.textblock11.show {
    opacity: 1;
    transform: scale(1);
}

.textblock2.show,
.textblock4.show,
.textblock6.show,
.textblock8.show,
.textblock10.show {
    opacity: 1;
}


.textblock1 p,
.textblock2 p,
.textblock3 p,
.textblock4 p,
.textblock5 p,
.textblock6 p,
.textblock7 p,
.textblock8 p,
.textblock9 p,
.textblock10 p,
.textblock11 p {
    padding: 0;
    margin: 0;
      font-family: klausthin;
    font-size: 1.3em;
    line-height: .9em;
    color: #FF9AE9;
}



.nextpagebutton {
    position: relative;
    top: 40px;
    left: 1400px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.6s ease-out;
}

.nextpagebutton.show {
    opacity: 1;
    transform: scale(1);
}

#nextBtn {
    position: fixed;
    right: 50px;
    top: 260px;
}

#deleteBtn {
    position: fixed;
    right: 50px;
    top: 330px;
}

button{
    display: flex;
    direction:  row;  
    justify-content: center;
    align-items: center;
    font-family: klausthin;
    font-size: 1em;
    color: #FF9AE9;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 100%;
    padding: 10px 20px;
    width: 80px;
    height: 80px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 5ch;
    gap: 10px;
    margin-left: 1330px;
    position: absolute;

}

.special {
    background-color: #FF9AE9 !important;
    color: #2900F5 !important;
    border: 1px solid #FF9AE9 !important;
}

.special:hover {
    background-color: #FF9AE9 !important;
    color: #2900F5 !important;
    border: 1px solid #FF9AE9 !important;
    transition: none !important;
}

.button-container2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-left: -1150px;
    position: absolute;
    top: 180px;
    left: 1210px;
}

button:hover{
    background-color: #FF9AE9;
    color: #2900F5;
    border: 1px solid #FF9AE9;
    transition: 0.3s ease-in-out;
}
 
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
    margin-top: 170px;
    position: absolute
}


.hamburger.open:hover {
    background-color: transparent !important;
}

.hamburger.open:hover span {
    background-color: #FF9AE9 !important;
}

.hamburger:hover {
    background-color: #FF9AE9;
}

.hamburger:hover span {
    background-color: #2900F5;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-panel {
    position: fixed;
    top: 50px;
    right: -350px;
    width: 300px;
    height: 500px;
    background-color: #FF9AE9;
    z-index: 3000;
    transition: right 0.4s ease-in-out;
    border-radius: 30px;
    margin-right: 50px;
}

.menu-panel.open {
    right: 0;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

.menu-content button {
    background-color: transparent !important;
    color: #2900F5 !important;
    border-color: #2900F5;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.menu-content button:hover {
    background-color:  #2900F5 !important;
    color: #FF9AE9 !important;
    border-color: #2900F5;
  
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    background: transparent !important;
    border: none !important;
    color: #2900F5 !important;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.close-btn:hover {
    background: transparent !important;
    color: #2900F5 !important;
    opacity: 1 !important;
}


.button-container,
.button-container2 {
    display: none;
}

#pagebutton{
    background-color: #FF9AE9;
    color: #2900F5;
}

a{
    text-decoration: none;
}


.mobile{
    display: none;
    
}


@media screen and (max-width: 768px) {
    html, body {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-size: 3em;
        margin-left: 20px;
        margin-top: 30px;
        letter-spacing: -0.06em;
        line-height: 30pt;
    }

    .desktop{
        display: none;
    }

    h4 {
        font-size: 0.9em;
        margin-left: 25px;
        margin-top: -10px;
    }
    
    p {
        font-size: .7em;
        line-height: 0.9em;
        padding: 15px;
    }

    .mobile{
        display: block;
        font-family: Klaus ;
        font-size: 3em;
        font-weight: 100;
        color: #FF9AE9;
        margin-left: 20px;
        margin-top: 20px;
        letter-spacing: -0.08em;
        line-height: 30pt;
    }
    
    span {
        font-size: 0.9em;
    }
    
    /* All buttons aligned on right side */
    #nextBtn,
    #deleteBtn,
    .hamburger {
        position: fixed;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 0.6em;
    }
    
    .hamburger {
        top: 160px;
        width: 59px;
        height: 59px;
        left: 82%;
    }
    
    #nextBtn {
        top: 700px;
        right: 230px;
        width: 150px;
        height: 150px;
        font-size: 1em;
    }
    
    #deleteBtn {
        top: 700px;
        width: 150px;
        height: 150px;
        font-size: 1em;
    }
    
    .hamburger span {
        width: 16px;
    }
    
    .menu-panel {
        width: 150px;
        height: 400px;
        margin-right: 30px;
    }
    
    .menu-content button {
        width: 70px;
        height: 70px;
        font-size: 0.8em;
    }
    
    /* Reposition all text blocks for mobile */
    .textblock1 {
        top: 150px;
        left: 5%;
    }
    
    .textblock2 {
        top: 220px;
        left: 50%;
    }
    
    .textblock3 {
        top: 360px;
        left: 60%;
    }
    
    .textblock4 {
        top: 320px;
        left: 10%;
    }
    
    .textblock5 {
        top: 580px;
        left: 40%;
    }
    
    .textblock6 {
        top: 430px;
        left: 5%;
    }
    
    .textblock7 {
        top: 450px;
        left: 70%;
    }
    
    .textblock8 {
        top: 380px;
        left: 38%;
    }
    
    .textblock9 {
        top: 540px;
        left: 10%;
    }
    
    .textblock10 {
        top: 580px;
        left: 70%;
    }
    
    .textblock11 {
        top: 200px;
        left: 25%;
    }
    
    .nextpagebutton {
        top: 100px;
        left: 82%;
        height: 20px;
        width: 20px;
        transform: translateX(-50%) scale(0);
    }
    
    .nextpagebutton.show {
        transform: translateX(-50%) scale(1);
    }
    
    button {
        background-color: #FF9AE9;
        color: #2900F5;
        border: 1px solid #FF9AE9;
    }
    
    button:hover {
        background-color: #FF9AE9 !important;
        color: #2900F5 !important;
        border: 1px solid #FF9AE9 !important;
        transition: none !important;
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 3em;
        background: transparent !important;
        border: none !important;
        color: #2900F5 !important;
        cursor: pointer;
        width: auto !important;
        height: auto !important;
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    .close-btn:hover {
        background: transparent !important;
        color: #2900F5 !important;
        opacity: 1 !important;
    }

    .menu-content button {
        background-color: transparent !important;
        color: #2900F5 !important;
        border-color: #2900F5 !important;
    }
    
    .menu-content button:hover {
        background-color: transparent !important;
        color: #2900F5 !important;
    }
}