*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Klaus ;
    src: url(../fonts/MNKYKlausTRIAL-Regular.otf);
}

@font-face{
    font-family: Klausthin ;
    src: url(../fonts/MNKYKlausTRIAL-Thin.otf);
}

h1{
    font-family: Klaus ;
    font-size: 7em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: -0.08em;
    line-height: 100pt;
}

h4{
    font-family: Klausthin ;
    font-size: 1em;
    font-weight: 100;
    color:  #FF9AE9;
    margin-top: -20px;
    margin-left: 60px;
    line-height: 35pt;
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #2900F5;
}

html {
    height: 100%;
}

p{
    font-family: klausthin;
    font-size: 1.3em;
    line-height:.8em;
    color: #FF9AE9;
    padding: 20px;
    top: 200px;
    left: 50px;
}

span{
    font-family: klaus ;
    font-weight: 100;
    font-size: 1em;
}

.textblock1 {
    position: absolute;
    top: 300px;
    left: 12%;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock1.show {
    opacity: 1;
    transform: scale(1);
}


.textblock2{
    position: absolute;
    top: 300px;
    left: 40%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.textblock2.show {
    opacity: 1;
}


.textblock3{
    position: absolute;
    top: 480px;
    left: 65%;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock3.show {
    opacity: 1;
    transform: scale(1);
}

.textblock4{
    position: absolute;
    top: 420px;
    left: 25%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.textblock4.show {
    opacity: 1;
}


.textblock5{
    position: absolute;
    top: 300px;
    left: 68%;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock5.show {
    opacity: 1;
    transform: scale(1);
}


.textblock6{
    position: absolute;
    top: 550px;
    left: 8%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.textblock6.show {
    opacity: 1;
}


.textblock7{
    position: absolute;
    top: 550px;
    left: 30%;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock7.show {
    opacity: 1;
    transform: scale(1);
}


.textblock8{
    position: absolute;
    top: 460px;
    left: 52%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.textblock8.show {
    opacity: 1;
}

.textblock9{
    position: absolute;
    top: 650px;
    left: 15%;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock9.show {
    opacity: 1;
    transform: scale(1);
}

.textblock10{
    position: absolute;
    top: 680px;
    left: 65%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.textblock10.show {
    opacity: 1;
}

.textblock11{
    position: absolute;
    top: 700px;
    left: 40%;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.textblock11.show {
    opacity: 1;
    transform: scale(1);
}
.hidden {
    opacity: 0;
}


.nextpagebutton {
    position: relative;
    top: 400px;
    left: 1400px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.6s ease-out;
}

.nextpagebutton.show {
    opacity: 1;
    transform: scale(1);
}

#nextBtn {
    position: fixed;
    right: 50px;
    top: 260px;
}

#deleteBtn {
    position: fixed;
    right: 50px;
    top: 330px;
}

button{
    display: flex;
    direction:  row;  
    justify-content: center;
    align-items: center;
    font-family: klausthin;
    font-size: 0.7em;
    color: #FF9AE9;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 100%;
    padding: 10px 20px;
    width: 60px;
    height: 60px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 5ch;
    gap: 10px;
    margin-left: 1330px;
    position: absolute;

}

.button-container2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-left: -1150px;
    position: absolute;
    top: 180px;
    left: 1210px;
}

button:hover{
    background-color: #FF9AE9;
    color: #2900F5;
    border: 1px solid #FF9AE9;
    transition: 0.3s ease-in-out;
}
 

.hamburger {
    position: fixed;
    top: 100px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
    transition: transform 0.3s ease;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: #FF9AE9;
    transition: all 0.3s ease;
}

.hamburger.open:hover {
    background-color: transparent !important;
}

.hamburger.open:hover span {
    background-color: #FF9AE9 !important;
}

.hamburger:hover {
    background-color: #FF9AE9;
}

.hamburger:hover span {
    background-color: #2900F5;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-panel {
    position: fixed;
    top: 50px;
    right: -350px;
    width: 300px;
    height: 500px;
    background-color: #FF9AE9;
    z-index: 1500;
    transition: right 0.4s ease-in-out;
    border-radius: 30px;
    margin-right: 50px;
}

.menu-panel.open {
    right: 0;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

.menu-content button {
    background-color: transparent !important;
    color: #2900F5 !important;
    border-color: #2900F5;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.menu-content button:hover {
    background-color:  #2900F5 !important;
    color: #FF9AE9 !important;
    border-color: #2900F5;
  
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    background: transparent !important;
    border: none !important;
    color: #2900F5 !important;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.close-btn:hover {
    background: transparent !important;
    color: #2900F5 !important;
    opacity: 1 !important;
}


.button-container,
.button-container2 {
    display: none;
}

#pagebutton{
    background-color: #FF9AE9;
    color: #2900F5;
}

a{
    text-decoration: none;
}


@media screen {
    
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
        margin-left: 20px;
        margin-top: 30px;
        letter-spacing: -0.06em;
        line-height: 30pt;
    }
    
    h4 {
        font-size: 0.9em;
        margin-left: 25px;
        margin-top: -10px;
    }
    
    p {
        font-size: .7em;
        line-height: 0.9em;
        padding: 15px;
    }
    
    span {
        font-size: 0.9em;
    }
    
    #nextBtn {
        position: fixed;
        right: 30px;
        top: 140px;
        width: 50px;
        height: 50px;
        font-size: 0.6em;
    }
    
    #deleteBtn {
        position: fixed;
        right: 30px;
        top: 200px;
        width: 50px;
        height: 50px;
        font-size: 0.6em;
    }
    
    .hamburger {
        top: 60px;
        right: 30px;
        width: 50px;
        height: 50px;
    }
    
    .hamburger span {
        width: 16px;
    }
    
    .menu-panel {
        width: 150px;
        height: 400px;
        margin-right: 30px;
    }
    
    .menu-content button {
        width: 70px;
        height: 70px;
        font-size: 0.8em;
    }
    
    /* Reposition all text blocks for mobile */
    .textblock1 {
        top: 150px;
        left: 5%;
    }
    
    .textblock2 {
        top: 220px;
        left: 50%;
    }
    
    .textblock3 {
        top: 360px;
        left: 55%;
    }
    
    .textblock4 {
        top: 320px;
        left: 10%;
    }
    
    .textblock5 {
        top: 580px;
        left: 40%;
    }
    
    .textblock6 {
        top: 430px;
        left: 5%;
    }
    
    .textblock7 {
        top: 450px;
        left: 70%;
    }
    
    .textblock8 {
        top: 380px;
        left: 38%;
    }
    
    .textblock9 {
        top: 540px;
        left: 10%;
    }
    
    .textblock10 {
        top: 580px;
        left: 70%;
    }
    
    .textblock11 {
        top: 200px;
        left: 25%;
    }
    
    .nextpagebutton {
        top: 200px;
        left: 84%;
        transform: translateX(-50%) scale(0);
    }
    
    .nextpagebutton.show {
        transform: translateX(-50%) scale(1);
    }
    
    .nextpagebutton button {
        width: 50px;
        height: 50px;
        font-size: 0.7em;
    }
    
    button {
        background-color: #FF9AE9;
        color: #2900F5;
        border: 1px solid #FF9AE9;
    }
    
    button:hover {
        background-color: #FF9AE9 !important;
        color: #2900F5 !important;
        border: 1px solid #FF9AE9 !important;
        transition: none !important;
    }

    .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 3em;
    background: transparent !important;
    border: none !important;
    color: #2900F5 !important;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    padding: 0;
    margin: 0;
    line-height: 1;
    width: 10px;
}

.close-btn:hover {
    background: transparent !important;
    color: #2900F5 !important;
    opacity: 1 !important;
}
    

    .menu-content button {
        background-color: transparent !important;
        color: #2900F5 !important;
        border-color: #2900F5 !important;
    }
    
    .menu-content button:hover {
        background-color: transparent !important;
        color: #2900F5 !important;
    }

    body{
        overflow-x: hidden;
            overflow-y: hidden ;
    }
}