*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Klaus ;
    src: url(fonts/MNKYKlausTRIAL-Light.otf);
}

@font-face {
    font-family: klausthin;
    src: url(fonts/MNKYKlausTRIAL-Thin.otf);
}


.text1{
    font-family: Klaus;
    font-size: 9em;
    font-weight: 115;
    color: #FF9AE9;
    top: 80px;
    left: 100px;
    position: absolute;
    line-height: 90pt;
    letter-spacing: -7pt;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.text1.hidden {
    opacity: 0;
}

.text2{
    font-size: 1em;
    font-family: klausthin;
    font-weight: light;
    color: #FF9AE9;
    position: absolute;
    top: 350px;
    left: 110px;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.text2.hidden {
    opacity: 0;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;

}

.image1 {
  cursor: pointer;
  transition: opacity 0.5s ease;
  width: 700px;
  top: 50px;
  margin-left: 800px;
}

.image2 {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 1.5s;
  cursor: pointer;
  width: 1200px;
}

.image2.active {
  opacity: 1;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  pointer-events: auto;
}

.image1.hidden {
  opacity: 0;
}