/* ============================================
   RESET & BASE STYLES
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Klaus;
    src: url(fonts/MNKYKlausTRIAL-Light.otf);
}

@font-face {
    font-family: klausthin;
    src: url(fonts/MNKYKlausTRIAL-Thin.otf);
}

body {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

.parent1, .parent2, .parent3, a {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* ============================================
   LAYOUT CONTAINERS
   ============================================ */
.parent1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 75px;
}

.parent2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    rotate: 90deg;
    left: 670px;
    position: absolute;
    white-space: nowrap;
    margin-top: 0px;
}

.parent3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    rotate: 90deg;
    left: 790px;
    position: absolute;
    white-space: nowrap;
    margin-top: 400px;
}

/* ============================================
   TEXT ELEMENTS
   ============================================ */
.child1 {
    font-family: Klaus;
    font-size: 7em;
    color: #FF9AE9;
    letter-spacing: -5pt;
    margin-left: 50px;
    margin-top: -30px;
    flex-direction: column;
}

.child2 {
    font-family: klaus;
    font-size: 1.5em;
    color: #FF9AE9;
    align-self: flex-start;
    margin-left: 50px;
    margin-top: -30px;
    display: none;
}

.child3 {
    font-family: insitu;
    font-size: 1em;
    color: #FF9AE9;
    align-self: flex-start;
    margin-left: 50px;
}

.child4 {
    font-family: insitu;
    font-size: 1.5em;
    color: #FF9AE9;
    align-self: flex-start;
    margin-left: 50px;
    margin-top: -30px;
}

p {
    font-family: klaus;
    font-size: 3em;
    color: #FF9AE9;
    margin-top: 500px;
    margin-left: 50px;
}

.fish {
    left: 400px;
    top: 600px;
    display: none;
}

/* ============================================
   SIDE PANEL
   ============================================ */
.side-panel {
    position: fixed;
    top: 0;
    right: -800px;
    width: 600px;
    height: 100vh;
    background-color: #FF9AE9;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.side-panel.open {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    background: transparent;
    border: none;
    color: #2900F5;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.panel-content h2 {
    font-family: Klausthin;
    font-size: 5em;
    margin: 50px;
    margin-bottom: 130px;
    letter-spacing: -3pt;
    color: #2900F5;
}

.panel-content p {
    font-family: klausthin;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0;
    max-width: 500px;
    color: #2900F5;
    margin-left: 50px;
}

/* ============================================
   BUTTONS
   ============================================ */
button {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    font-family: klausthin;
    font-size: .8em !important;
    color: #FF9AE9;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 100%;
    padding: 10px 20px;
    margin-left: 0px;
    width: 70px !important;
    height: 70px !important;
}

button:hover {
    background-color: #FF9AE9;
    color: #2900F5;
    border: 1px solid #FF9AE9;
    transition: 0.3s ease-in-out;
}

.large-btn {
    width: 400px !important;
    height: 400px !important;
    font-size: 8em !important;
    border: 3px solid #FF9AE9 !important;
}

.button2 {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    font-family: klausthin;
    font-size: 0.7em;
    color: #2900F5;
    background-color: #FF9AE9;
    border: 1px solid #FF9AE9;
    border-radius: 100%;
    padding: 10px 20px;
    margin-left: 0px;
    width: 200px;
    height: 60px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    top: 90px;
    right: 50px;
    left: auto;
    margin: 0;
}

.button-container button {
    width: 50px;
    height: 50px;
    font-size: 0.6em;
    background-color: #FF9AE9;
    color: #2900F5;
}

.button-container2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 50px;
    margin-left: 0px;
    margin-right: 50px;
    position: absolute;
    left: 90px;
    margin-top: 300px;
    letter-spacing: -10pt;
}

/* ============================================
   MOBILE STYLES
   ============================================ */
@media screen and (max-width: 768px) {
    .panel-content h2 {
        font-size: 3em;
        margin: 20px;
        margin-bottom: 50px;
    }

    .panel-content p {
        font-size: 1em;
        line-height: 1.2em;
        margin: 0;
        max-width: 100%;
    }

    .child1 {
        font-size: 4em;
        letter-spacing: -2pt;
        line-height: 0.8em;
        margin-left: 20px;
        margin-top: -50px;
    }

    .child2 {
        font-size: 1em;
        margin-left: 20px;
        margin-top: -20px;
    }

    .child3 {
        font-size: 0.8em;
        margin-left: 20px;
    }

    .child4 {
        font-size: 1em;
        margin-left: 20px;
        margin-top: -20px;
    }

    button {
        font-size: 0.7em;
        color: #FF9AE9;
        background-color: #2900F5;
        border: 1px solid #FF9AE9;
        width: 50px;
        height: 50px;
    }

    button:hover {
        background-color: #2900F5 !important;
        color: #FF9AE9 !important;
        border: 1px solid #FF9AE9 !important;
        transition: none !important;
    }

    .large-btn {
        width: 120px !important;
        height: 120px !important;
        font-size: 1.8em !important;
        border: 1px solid #FF9AE9 !important;
        background-color: #FF9AE9 !important;
        color: #2900F5 !important;
    }

    .large-btn:hover {
        background-color: #FF9AE9 !important;
        color: #2900F5 !important;
    }

    .button2 {
        color: #FF9AE9;
        background-color: #2900F5;
        border: 1px solid #FF9AE9;
    }

    .side-panel {
        width: 300px;
    }

    .close-btn {
        font-size: 2em;
        background: transparent !important;
        color: #2900F5 !important;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        position: absolute;
        top: 150px;
        left: 250px;
        right: auto;
        margin-right: 20px;
    }

    .button-container button {
        width: 50px;
        height: 50px;
        font-size: 0.5em;
        background-color: #2900F5 !important;
        color: #FF9AE9 !important;
        border: 1px solid #FF9AE9 !important;
    }

    .button-container button:hover {
        background-color: #2900F5 !important;
        color: #FF9AE9 !important;
    }

    .button-container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        margin-top: 50px;
    }

    p {
        font-family: klaus;
        font-size: 3em;
        color: #FF9AE9;
        margin-top: 500px;
        margin-left: 50px;
    }
}