*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Klaus ;
    src: url(../fonts/MNKYKlausTRIAL-Regular.otf);
}

@font-face{
    font-family: Klausthin ;
    src: url(../fonts/MNKYKlausTRIAL-Thin.otf);
}

h1{
    font-family: Klaus ;
    font-size: 3em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: -0.08em;
    line-height: 30pt;
}

h4{
    font-family: Klausthin ;
    font-size: 1em;
    font-weight: 100;
    color:  #FF9AE9;
    margin-top: 0px;
    margin-left: 60px;
    line-height: 35pt;
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #2900F5;
}

html {
    height: 100%;
}

.indent{
    margin-left: 20px;
}

p {
    font-family: klausthin;
    font-size: 10.5em;
    line-height: 1em;
    color: #FF9AE9;
    letter-spacing: -0.08em;
    padding: 20px;
    position: relative; 
    margin: 50px;
    padding-bottom: 100x;
}

span{
    font-family: klaus;
    font-weight: 300;
}

.parentcontainer {
    position: fixed;
    left: 60%;
    transform: translateX(-50%);
    top: 100vh;
    width: max-content;
    z-index: 1;
    gap: 350px;
}

#nextBtn,
#deleteBtn {
    position: fixed;
    right: 50px;
    z-index: 9999;
}


button{
    display: flex;
    direction:  row;  
    justify-content: center;
    align-items: center;
    font-family: klausthin;
    font-size: 0.7em;
    color: #FF9AE9;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 100%;
    padding: 10px 20px;
    width: 60px;
    height: 60px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 5ch;
    gap: 10px;
    margin-left: 1330px;
    position: absolute;

}

.button-container2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-left: -1150px;
    position: absolute;
    top: 180px;
    left: 1210px;
}

button:hover{
    background-color: #FF9AE9;
    color: #2900F5;
    border: 1px solid #FF9AE9;
    transition: 0.3s ease-in-out;
}
 
/* Hamburger Button */
.hamburger {
    position: fixed;
    top: 100px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
    transition: transform 0.3s ease;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: #FF9AE9;
    transition: all 0.3s ease;
}

.hamburger.open:hover {
    background-color: transparent !important;
}

.hamburger.open:hover span {
    background-color: #FF9AE9 !important;
}


.hamburger:hover {
    background-color: #FF9AE9;
}

.hamburger:hover span {
    background-color: #2900F5;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-panel {
    position: fixed;
    top: 50px;
    right: -350px;
    width: 300px;
    margin-right: 50px;
    height: 500px;
    background-color: #FF9AE9;
    z-index: 1500;
    transition: right 0.4s ease-in-out;
    border-radius: 30px;
}

.menu-panel.open {
    right: 0;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}


.menu-content button {
    background-color: transparent !important;
    color: #2900F5 !important;
    border-color: #2900F5;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.menu-content button:hover {
    background-color:  #2900F5 !important;
    color: #FF9AE9 !important;
    border-color: #2900F5;
  
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    background: transparent !important;
    border: none !important;
    color: #2900F5 !important;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.close-btn:hover {
    background: transparent !important;
    color: #2900F5 !important;
    opacity: 1 !important;
}




.button-container,
.button-container2 {
    display: none;
}

#pagebutton{
    background-color: #FF9AE9;
    color: #2900F5;
}

a{
    text-decoration: none;
}

.nextpagebutton {
    position: relative;
    top: 400px;
    left: 1400px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.6s ease-out;
}

.nextpagebutton.show {
    opacity: 1;
    transform: scale(1);
}

#nextBtn {
    position: fixed;
    right: 50px;
    top: 260px;
}

#deleteBtn {
    position: fixed;
    right: 50px;
    top: 330px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        margin-left: 20px;
        margin-top: 30px;
        letter-spacing: -0.06em;
        line-height: 25pt;
    }
    
    h4 {
        font-size: 0.9em;
        margin-left: 25px;
        margin-top: 5px;
    }
    
    p {
        font-size: 3em;
        line-height: 0.9em;
        padding: 15px;
        margin: 20px;
        letter-spacing: -0.06em;
    }
    
    span {
        font-size: 1em;
    }
    
    .parentcontainer {
        left: 50%;
        transform: translateX(-50%);
        gap: 200px;
    }
    
    /* Position Next/Delete buttons in upper right */
    #nextBtn {
        position: fixed;
        right: 15px;
        top: 400px;
        width: 50px;
        height: 50px;
        font-size: 0.6em;
    }
    
    #deleteBtn {
        position: fixed;
        right: 15px;
        top: 330px;
        width: 50px;
        height: 50px;
        font-size: 0.6em;
    }
    
 
    .hamburger {
        top: 40px;
        right: 15px;
        width: 50px;
        height: 50px;
    }
    
    .hamburger span {
        width: 16px;
    }
    
    .menu-panel {
        width: 200px;
        height: 400px;
        margin-right: 15px;
    }
    
    .menu-content button {
        width: 70px;
        height: 70px;
        font-size: 0.8em;
    }
    
    button {
        background-color: #FF9AE9;
        color: #2900F5;
        border: 1px solid #FF9AE9;
    }
    
    button:hover {
        background-color: #FF9AE9 !important;
        color: #2900F5 !important;
        border: 1px solid #FF9AE9 !important;
        transition: none !important;
    }
    

    .hamburger {
        background-color: transparent !important;
        border-color: #FF9AE9 !important;
    }
    
    .hamburger:hover {
        background-color: transparent !important;
    }
    
    .hamburger span {
        background-color: #FF9AE9 !important;
    }
    

    .menu-content button {
        background-color: transparent !important;
        color: #2900F5 !important;
        border-color: #2900F5 !important;
    }
    
    .menu-content button:hover {
        background-color: transparent !important;
        color: #2900F5 !important;
    }
    
    .close-btn:hover {
        background-color: transparent !important;
    }
}

