*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Klaus ;
    src: url(../fonts/MNKYKlausTRIAL-Regular.otf);
}

@font-face{
    font-family: Klausthin ;
    src: url(../fonts/MNKYKlausTRIAL-Thin.otf);
}

h1{
    font-family: Klaus ;
    font-size: 3em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: -0.08em;
    line-height: 30pt;
}

h4{
    font-family: Klausthin ;
    font-size: 1em;
    font-weight: 100;
    color:  #FF9AE9;
    margin-top: 0px;
    margin-left: 55px;
    line-height: 35pt;
}

p {
    font-family: klausthin;
    font-size: 1.2em;
    line-height: 1em;
    color: #FF9AE9;
    letter-spacing: -0.02em;
    padding: 20px;
    position: relative; 
    margin: 50px;
    padding-bottom: 100x;
}


button{
    display: flex;
    direction:  row;  
    justify-content: center;
    align-items: center;
    font-family: klausthin;
    font-size: 1em;
    color: #FF9AE9;
    background-color: transparent;
    border: 1px solid #FF9AE9;
    border-radius: 100%;
    padding: 10px 20px;
    width: 80px;
    height: 80px;
}


a{
    text-decoration: none;

}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
    margin-top: 50px;
    position: absolute
}

body {
    background-color: #2900F5;
    overflow: hidden;
}

body {
    background-color: #2900F5;
    overflow: hidden;
}

body {
    background-color: #2900F5;
    overflow: hidden;
}

.parentcontainer{
    position: fixed;
    margin: auto;
}

.child1{
    width: 500px;
    height: auto;
    position: absolute;
    top: -200px;
    left: 300px;
}

.child2{
    width: 500px;
    height: auto;
    position: absolute;
    top: -50px;
    left: 400px;
}

.child3{
    width: 500px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 300px;
}

.child4{
    width: 900px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 200px;
    rotate: -1 0deg;
}

.child5{
    width: 250px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 700px;
}

.child6{
    width: 500px;
    height: auto;
    position: absolute;
    top: 350px;
    left: 750px;
}

.child7{
    width: 1000px;
    height: auto;
    position: absolute;
    top: 380px;
    left: 600px;
    rotate: -10deg;
}

.child8{
    width: 480px;
    height: auto;
    position: absolute;
    top: 70px;
    left: 1000px;
}

.child9{
    width: 350px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 900px;
}

.child10{
    width: 800px;
    height: auto;
    position: absolute;
    top: -180px;
    left: 800px;
}

.child11{
    width: 000px;
    height: auto;
    position: absolute;
    top: 600px;
    left: 900px;
}

.child12{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -100px;
    left: 1320px;
}

.special {
    background-color: #FF9AE9 !important;
    color: #2900F5 !important;
    border: 1px solid #FF9AE9 !important;
}

.special:hover {
    background-color: #FF9AE9 !important;
    color: #2900F5 !important;
    border: 1px solid #FF9AE9 !important;
    transition: none !important;
}













/* Container */
.circle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 800px; /* shorter height = oval */
    transform: translate(-50%, -50%);
}

/* Base text styling */
.circle p {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease, transform 1s ease;
    text-align: center;
    max-width: 200px;
}

/* Fade in */
.circle p.show {
    opacity: 1;
}

/* Wrapper for moving items */
.orbit-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

/* Oval orbit animation */
@keyframes ovalOrbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



@media (max-width: 768px) {
    .parentcontainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0 100px 0;
    }

    .child1, .child2, .child3, .child4, .child5,
    .child6, .child7, .child8, .child9, .child10,
    .child11 {
        position: relative;
        top: auto;
        left: auto;
        width: 85vw;
        height: auto;
        rotate: none;
        margin: 10px auto;
    }

    .child4 {
        width: 95vw;
    }

    .child7 {
        width: 95vw;
        rotate: none;
    }

    .child12 {
        position: relative;
        top: auto;
        left: auto;
        margin: 30px auto;
        width: 80px;
        height: 80px;
    }

    body {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}