*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Insitu;
    src: url(fonts/for-insituunlicensedtrial-light.otf);
}

@font-face {
    font-family: YoungSerif;
    src: url(fonts/YoungSerif-Regular.otf);
}


h1{
    font-family: YoungSerif;
    font-size: 8em;
    font-weight: 100;
    color: #FF9AE9;
    margin-left: 50px;
    margin-top: 50px;
    line-height: 100pt;
}

h4{
    font-family: Insitu;
    font-size: 1em;
    font-weight: light;
    color:  #FF9AE9;
    margin-top: -20px;
    margin-left: 50px;
    line-height: 35pt;
}

body {
    background: linear-gradient(to bottom, #2900F5 0%, #2900F5 100px, #FF9AE9 600px, #FF9AE9 1000px);
    min-height: 200vh;
}

button {
    font-family: Insitu;
    font-size: 1em;
    background-color: transparent;
    color:  #2900F5;
    border: 1px solid #2900F5;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    left: 90%;
    transform: translateX(-50%);
}

#nextBtn {
    margin-top: 250px;
}

#deleteBtn {
    margin-top: 375px;
}

button:hover {
    opacity: 0.8;
}

p{
    font-family: Insitu;
    font-size: 2em;
    line-height:.8em;
    color: #2900F5;
    padding: 20px;
    top: 200px;
    left: 50px;
}

span{
    font-family: YoungSerif;
    font-weight: 100;
    font-size: 1.2em;
    color: #2900F5;
}

.textblock1 {
    position: absolute;
    top: 300px;
    left: 50px;
      transform: scale(0);
    transition: transform 0.5s ease-out;

}

.textblock2{
    position: absolute;
    top: 400px;
    left: 275px;
      transform: scale(0);
    transition: transform 0.90s ease-out;
  
}

.textblock3{
    position: absolute;
    top: 500px;
    left: 500px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
   
}

.textblock4{
    position: absolute;
    top: 350px;
    left: 550px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
   
}

.textblock5{
    position: absolute;
    top: 400px;
    left: 875px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
}
.textblock6{
    position: absolute;
    top: 650px;
    left: 50px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
}

.textblock7{
    position: absolute;
    top: 750px;
    left: 250px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
}

.textblock8{
    position: absolute;
    top: 700px;
    left: 575px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
}

.textblock9{
    position: absolute;
    top: 650px;
    left: 900px;
    hanging-punctuation: allow-end;
      transform: scale(0);
    transition: transform 0.5s ease-out;
}

.textblock10{
    position: absolute;
    top: 1000px;
    left: 50px;
      transform: scale(0);
    transition: transform 0.5s ease-out;
}

.textblock11{
    position: absolute;
    top: 1100px;
    left: 450px;
      transform: scale(0);
    transition: transform 0.10s ease-out;
}


.textblock1,
.textblock2,
.textblock3,
.textblock4,
.textblock5,
.textblock6,
.textblock7,
.textblock8,
.textblock9,
.textblock10,
.textblock11,
.nextpagebutton {
    transition: transform 1.5s ease-out;
}


.textblock1.show,
.textblock2.show,
.textblock3.show,
.textblock4.show, 
.textblock5.show,
.textblock6.show,
.textblock7.show,
.textblock8.show,
.textblock9.show,
.textblock10.show,
.textblock11.show,
.nextpagebutton.show
 {
    transform: scale(1);
}


.hidden {
    transform: scale(0);
}

.nextpagebutton {
  position: absolute;
    top: 1200px;
    left: 950px;
      transform: scale(0);
    transition: transform 0.10s ease-out;
}