*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: YoungSerif ;
    src: url(fonts/YoungSerif-Regular.otf);
}

@font-face {
    font-family: Insitu;
    src: url(fonts/for-insituunlicensedtrial-light.otf);
}



.text1{
    font-family: YoungSerif;
    font-size: 150px;
    font-weight: regular;
    color: #FF9AE9;
    top: 800px;
    left: 120px;
    position: absolute;
    line-height: 100pt;
    letter-spacing: -2px;
    pointer-events: none;
}

.text2{
    font-size: 50pt;
    font-family: YoungSerif;
    font-weight: light;
    color: #FF9AE9;
    position: absolute;
    top: 100px;
    left: 120px;
    pointer-events: none;
    line-height: 35pt;
}


.image{
    width: 1200px;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    pointer-events: auto;
    animation: floatUp 2s ease-out forwards;
    transition: width 0.3s ease;
}


@keyframes floatUp {
    from {
        bottom: -900px;
        transform: translateX(-50%);
    }
    to {
        bottom: 00px;
        transform: translateX(-50%);
    }
}

@keyframes grow {
    to {
        transform: translateX(-50%) scale(1.1);
    }
}
